@{
    ViewBag.Title = "Başvuru";
}

<h1 class="h4 text-center">Toplantı Katılım Formu</h1>

<form method="post" action="/Meeting/Apply">
    <div class="mb-3">
        <label for="Name">Name</label>
        <input type="text" name="Name" id="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="Phone">Phone</label>
        <input type="text" name="Phone" id=" Phone" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="Email">Email</label>
        <input type="email" name="Email" id=" Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="WillAttend" class="form-label">Email</label>
        <select name="WillAttend" id="WillAttend" class="form-select">
            <option value="true">Evet, geliyorum</option>
            <option value="false">Hayır, gelmiyorum</option>
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>
